body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #336699;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 200px;
    border: 2px solid #336699;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

audio, video {
    width: 100%;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

details {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
